@font-face {
  font-family: 'Caviar';
  src: url('/fonts/CaviarDreams.ttf');
}
@font-face {
  font-family: 'Caviar-B';
  src: url('/fonts/Caviar_Dreams_Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('/fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'windsong';
  src: url('/fonts/Windsong.ttf');
}
@font-face {
  font-family: 'Alex';
  src: url('/fonts/AlexBrush-Regular.ttf');
}

/*configure navbar-toggle style*/
/*******************************/
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle {
  border-color: transparent;
  background: none;
  float: right;
}
/*configure navbar-toggle style END*/
/*******************************/


/**Animate navbar-toggle**
**************************/

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 0.2s ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}
/**Animate navbar-toggle END**
**************************/



/**pageheader configure here**/
.pageheader{
  position: relative;
  width: 100%;
  margin-top: -30px;
  overflow: hidden;
  background:url('/imgs/header1.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/** navbar style**/
.navbar{
  display: none;
  background: rgba(65, 63, 63, 0.9);
  box-shadow: 5px 5px 30px rgb(75, 75, 75);
  border:none;
  outline: none;
  z-index: 1;
  width: 100%;
  right: 0;
  left: 0;
}

/** programmer with ......**/
.myheader{
  display: none;
  text-align: center;
  position: absolute;
  z-index: 1;
  color: white;
  font-family: 'windsong';
  bottom: 150px;
  width: 100%;
  right: auto;
  left: auto;
  font-size: 90px;
}



#navbar ul a{
  font-family: 'Caviar';
  font-size: 20px;
}

#navbae ul a:active,
#navbar ul a:focus,
#navbar ul a:hover{
  font-family: 'Caviar';
  font-size: 20px;
  background: none;
}


#svg{
  position: absolute;
  z-index: 1;
  width: 30%;
  height: 30%;
  top:15%;
  left:10%;
}


/*****media queries*****/
/**********************/
@media (min-width: 1366px) and (max-width: 1600px) {
  #svg{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 30%;
    top:5%;
    left:10%;
  }

  /** programmer with ......**/
  .myheader{
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'windsong';
    bottom: 150px;
    width: 100%;
    right: auto;
    left: auto;
    font-size: 60px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #svg{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 30%;
    top:5%;
    left:10%;
  }

  /** programmer with ......**/
  .myheader{
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'windsong';
    bottom: 100px;
    width: 100%;
    right: auto;
    left: auto;
    font-size: 60px;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  #svg{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 30%;
    top:5%;
    left:10%;
  }

  /** programmer with ......**/
  .myheader{
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'windsong';
    bottom: 150px;
    width: 100%;
    right: auto;
    left: auto;
    font-size: 50px;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  #svg{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 30%;
    top:3%;
    left:10%;
  }

  /** programmer with ......**/
  .myheader{
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'windsong';
    bottom: 80px;
    width: 100%;
    right: auto;
    left: auto;
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  #svg{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 30%;
    top:3%;
    left:10%;
  }

  /** programmer with ......**/
  .myheader{
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'windsong';
    bottom: 60px;
    width: 100%;
    right: auto;
    left: auto;
    font-size: 40px;
  }
}
